@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@font-face {
    font-family: Geist;
    src: url("./fonts/Geist[wght].woff2") format("woff2-variations");
    font-weight: 100 700;
    font-style: normal;
    font-display: swap;
}

@layer base {
  body {
    font-family: var(--font-sans);
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
  }
}

@layer components {
  .focus-ring-primary {
    @apply outline-none focus-visible:ring-2 focus:ring-primary focus:ring-offset-background;
  }
}

:root {
    --primary: hsl(350 70% 42%);
    --primary-light: hsl(350 70% 98%);
    --background: hsl(0 0% 100%);
    --foreground: hsl(15 18% 12%);
    --primary-foreground: oklch(0.98 0 0);
    --destructive: hsl(0 84.2% 60.2%);
    --destructive-foreground: oklch(0.98 0 0);
    --border: hsl(12 18% 89%);
}

.dark {
    --primary: oklch(0.65 0.2 250);
    --primary-light: oklch(0.18 0.03 250);;
    --background: oklch(0.12 0 0);
    --foreground: oklch(0.92 0 0);
    --primary-foreground: oklch(0.12 0 0);
    --destructive: oklch(0.396 0.141 25.723);
    --destructive-foreground: oklch(0.92 0 0);
    --border: oklch(0.22 0 0);
}

@theme inline {
    --font-sans: 'Geist', sans-serif;
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-primary-light: var(--primary-light);
    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);
    --color-border: var(--border);
}
